body {
    background-color: #1a1a1a;
}

#head {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 1%;
    box-sizing: border-box;
}

#logo {
    width: 7%; /* you can use % */
    height: auto;
    position: relative;
    left: 2%;
}

h1 {
    padding-left: 1%;
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size:  350%;
    position: relative;
    left: 2%;

}

h2 {
    color: #febe46;
    font-size: 180%;
    font-family: 'Source Sans Pro', sans-serif;

}

#loginmain {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    left: 9%;
    padding-top: ;
}

#userlogin {
    padding-right: 2%;
    padding-bottom: 8.5%;
    background-color: #1a1a1a;
}

#usersignup {
    padding-left: 6%;
    padding-bottom: 5%;
    background-color:#1a1a1a;
}

.loginbutton {
    background-color: #febe46;
    color: white;
    margin-top: 25%;
    margin-left: 30%;
    border-color: #febe46;
    border-radius: 10%;
    /* padding: 5%; */
    font-size: 130%;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.signupbutton {
    background-color: #febe46;
    color: white;
    margin-top: 20%;
    margin-left: 30%;
    border-color: #febe46;
    border-radius: 10%;
    /* padding: 5%; */
    font-size: 130%;
    font-family: 'Source Sans Pro', sans-serif;
}

.line {
    border-left: 3px solid white;
    height: 500px;
}

/* .field__input{ 
    background-color: transparent;
    border-radius: 0;
    border-left: none;
    border-top: none;
    border-right: none;
  
    -webkit-appearance: none;
    -moz-appearance: none;
  
    font-family: inherit;
    font-size: 1em;
  } */

  /* TEST */

  .field{
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
  }
  
  .field__input{ 
    background-color: transparent;
    border-radius: 0;
    border: none;
  
    -webkit-appearance: none;
    -moz-appearance: none;
  
    font-family: inherit;
    font-size: 1em;
  }
  
  .field__input:focus::-webkit-input-placeholder{
    color: var(--uiFieldPlaceholderColor);
  }
  
  .field__input:focus::-moz-placeholder{
    color: var(--uiFieldPlaceholderColor);
    opacity: 1;
  }
  
.a-field{
    display: inline-block;
  }
  
  .a-field__input{ 
    display: block;
    box-sizing: border-box;
    width: 100%;
  }
  
  .a-field__input:focus{
    outline: none;
  }
  
  /* a-field */
  
  .a-field{
    --uiFieldHeight: var(--fieldHeight, 40px);  
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldBorderColor: var(--fieldBorderColor);
  
    --uiFieldFontSize: var(--fieldFontSize, 1em);
    --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);
  
    --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
    --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);   
  
    position: relative;
    box-sizing: border-box;
    font-size: var(--uiFieldFontSize);
    padding-top: 1em;  
    color: white;
  }
  
  .a-field__input{
    height: var(--uiFieldHeight);
    padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);  
    color: white;
  }
  
  .a-field__input::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
  }
  
  .a-field__input::-moz-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
  }
  
  .a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label{
    opacity: 0;
    bottom: var(--uiFieldPaddingBottom);
  }
  
  .a-field__input:focus::-webkit-input-placeholder{
    opacity: 1;
    transition-delay: .2s;
  }
  
  .a-field__input:focus::-moz-placeholder{
    opacity: 1;
    transition-delay: .2s;
  }
  
  .a-field__label-wrap{
    box-sizing: border-box;
    width: 100%;
    height: var(--uiFieldHeight);	
  
    pointer-events: none;
    cursor: text;
  
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .a-field__label{
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    bottom: calc(50% - .5em);
  
    line-height: 1;
    font-size: var(--uiFieldHintFontSize);
  
    pointer-events: none;
    transition: bottom .2s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity .2s ease-out;
    will-change: bottom, opacity;
  }
  
  .a-field__input:focus ~ .a-field__label-wrap .a-field__label{
    opacity: 1;
    bottom: var(--uiFieldHeight);
  }
  
  /* a-field_a1 */
  
  .a-field_a1 .a-field__input{
    transition: border-color .2s ease-out;
    will-change: border-color;
  }
  
  .a-field_a1 .a-field__input:focus{
    border-color: var(--fieldBorderColorActive);
  }

  /* a-field_a3 */
  
  .a-field_a3{
    padding-top: 1.5em;
  }
  
  .a-field_a3 .a-field__label-wrap::after{
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 0;
  
    opacity: 0;
    border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);
  
    position: absolute;
    bottom: 0;
    left: 0;
  
    will-change: opacity, height;
    transition: height .2s ease-out, opacity .2s ease-out;
  }
  
  .a-field_a3 .a-field__input:focus ~ .a-field__label-wrap::after{
    height: 100%;
    opacity: 1;
  }
  
  .a-field_a3 .a-field__input:focus ~ .a-field__label-wrap .a-field__label{
    bottom: calc(var(--uiFieldHeight) + .5em);
  }
  
  /*
  =====
  LEVEL 4. SETTINGS
  =====
  */
  
  .field{
    --fieldBorderColor: #D1C4E9;
    --fieldBorderColorActive: #febe46;
  }